<section id="about">
<!--  <h2>About Me</h2> -->
  <p>Engineering leader with experience in building scalable and reliable solutions. Specialized in enteprise software,platform, data and cloud.</p>

   <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LinkedIn Badge Embed</title>
    <!-- LinkedIn Badge Script -->
    <script src="https://platform.linkedin.com/badges/js/profile.js" async defer type="text/javascript"></script>
</head>
<body>
    <!-- LinkedIn Profile Badge -->
    <div class="badge-base LI-profile-badge" data-locale="en_US" data-size="medium" data-theme="light" data-type="VERTICAL" data-vanity="arulprakasht" data-version="v1">
        <a class="badge-base__link LI-simple-link" href="https://www.linkedin.com/in/arulprakasht?trk=profile-badge">Arul Prakash</a>
    </div>
</body>  
  
<h2>Book a Tech/Business Consulting appointment with me </h2>
  <!-- Calendly inline widget begin -->
<!-- <div class="calendly-inline-widget" data-url="https://calendly.com/arulprakasht01/30min" style="min-width:320px;height:700px;"></div> ORIGINAL --> 
<div class="calendly-inline-widget" data-url="https://calendly.com/arulprakasht01/30min" style="min-width:250px;height:600px;"></div>  
<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
<!-- Calendly inline widget end -->
</section>
