<section id="contact" class="section">
  <div class="container">
  <!--
    <h2>Let's Connect</h2>
    <p> Linkedin <a href="https://www.linkedin.com/in/arulprakasht" target="_blank"> View Profile </a></p> -->

      <script src="https://platform.linkedin.com/badges/js/profile.js" async defer type="text/javascript"></script>
  <div class="badge-base LI-profile-badge" data-locale="en_US" data-size="medium" data-theme="light" data-type="VERTICAL" data-vanity="arulprakasht" data-version="v1"><a class="badge-base__link LI-simple-link" href="https://www.linkedin.com/in/arulprakasht?trk=profile-badge">Arul Prakash</a></div>
 

  </div>
</section>
