<header class="hero">
  <h1>Arul Prakash</h1>
  <h2>Engineering Lead | Problem Solver | Builder | Useful Tech </h2>
  <p>Building enterprise products and services.</p>
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LinkedIn Badge Embed</title>
    <!-- LinkedIn Badge Script -->
    <script src="https://platform.linkedin.com/badges/js/profile.js" async defer type="text/javascript"></script>
</head>
<body>
    <!-- LinkedIn Profile Badge -->
    <div class="badge-base LI-profile-badge" data-locale="en_US" data-size="medium" data-theme="light" data-type="VERTICAL" data-vanity="arulprakasht" data-version="v1">
        <a class="badge-base__link LI-simple-link" href="https://www.linkedin.com/in/arulprakasht?trk=profile-badge">Arul Prakash</a>
    </div>
</body>        
 
  <a href="#contact" class="cta">Let's Connect</a> 
</header>
